/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background: #001e3c;
}

.category li div {
  background: #31608f;
  transition: all 200ms ease-in-out;
}

/* active */
.category li.active {
  background: #0e2237;
}
.category li.active.important .box {
  background: #17c3a6;
}
.category li.active.personal .box {
  background: #ffb643;
}
.category li.active.work .box {
  background: #f8497c;
}

.category li.all .box {
  background: #31608f;
}
.category li.important:hover .box {
  background: #17c3a6;
}
.category li.personal:hover .box {
  background: #ffb643;
}
.category li.work:hover .box {
  background: #f8497c;
}

.category li:hover {
  background: #0e2237;
}

.li-item {
  background: #10355a;
  border-radius: 20px;
  font-weight: 300;
}

.li-item.no-status .box-item {
  background: #31608f;
}
.li-item.important .box-item {
  background: #17c3a6;
}
.li-item.personal .box-item {
  background: #ffb643;
}
.li-item.work .box-item {
  background: #f8497c;
}

.ant-select-selector {
  height: 36px !important;
  align-items: center;
  border-radius: 999px !important;
}

.ant-modal-content {
  border-radius: 20px !important;
  overflow: hidden;
}
